
<h1>Listing patients</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Procedure</th>
      <th>Survey</th>
      <th>Senddate</th>
      <th>Token</th>
      <th>Request sent</th>
      <th>Reminder sent</th>
      <th>Bounce details</th>
      <th>Answered</th>
      <th>Send invite</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.email %></td>
        <td><%= patient.procedure %></td>
        <td><%= patient.survey %></td>
        <td><%= patient.senddate %></td>
        <td><%= patient.token %></td>
        <td><%= patient.datesent%> </td>
        <td><%= patient.dateremindersent%></td>
        <td><%= patient.bounce_details%></td>
        <% @questionnaire_result_id = Questionnaire.where(token: patient.token).pluck(:id).join %>
        <td>  <% if Questionnaire.exists?(token: patient.token) %>
        	    <%= link_to 'Answers', questionnaire_path(:id => @questionnaire_result_id) %>
        	  <% else %>
        	  	Nope
        	  <%end%>	 
        	
        	  </td>
        <td>Send email bit    </td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>




<%= link_to 'New Patient', new_patient_path %>
