<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @patient.email %>
</p>

<p>
  <strong>Procedure:</strong>
  <%= @patient.procedure %>
</p>

<p>
  <strong>Survey:</strong>
  <%= @patient.survey %>
</p>

<p>
  <strong>Senddate:</strong>
  <%= @patient.senddate %>
</p>

<p>
  <strong>Token:</strong>
  <%= @patient.token %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
