<h1>Listing questionnaires</h1>

<table>
  <thead>
    <tr>
      <th>Questions concerns</th>
      <th>Safe relaxed</th>
      <th>Pain management</th>
      <th>Ponv</th>
      <th>Same anaesthetic</th>
      <th>Confident ability</th>
      <th>Cared for</th>
      <th>Anaesthetic experience</th>
      <th>Comments</th>
      <th>Token</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questionnaires.each do |questionnaire| %>
      <tr>
        <td><%= questionnaire.questions_concerns %></td>
        <td><%= questionnaire.safe_relaxed %></td>
        <td><%= questionnaire.pain_management %></td>
        <td><%= questionnaire.ponv %></td>
        <td><%= questionnaire.same_anaesthetic %></td>
        <td><%= questionnaire.confident_ability %></td>
        <td><%= questionnaire.cared_for %></td>
        <td><%= questionnaire.anaesthetic_experience %></td>
        <td><%= questionnaire.comments %></td>
        <td><%= questionnaire.token %></td>
        <td><%= link_to 'Show', questionnaire %></td>
        <td><%= link_to 'Edit', edit_questionnaire_path(questionnaire) %></td>
        <td><%= link_to 'Destroy', questionnaire, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Questionnaire', new_questionnaire_path %>
